@use '../base/mixins';

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 65px;


    @include mixins.respond(sm) {
        grid-template-columns: 2fr 2fr;
    }

    @include mixins.respond(md) {
        grid-template-columns: 1fr 2fr;


    }

    &--2-col {
        position: relative;

        @include mixins.respond(md) {
            grid-template-columns: repeat(2, 1fr)
        }
    }

    &--3-col {


        padding-top: 80px;

        @include mixins.respond(md) {
            grid-template-columns: repeat(3, 1fr);
        }
        
    }
    &__item {

        &--feature {
            position: absolute;
            left: 0;
        }
    }
}
